<div class="card top-card">
  
  <div class="card-header">
    <div><h3>Create a New Training Session</h3></div>
  </div>

  <div class="card-body" style="padding: 1em;">
  	<%= render 'form' %>
  </div>
</div>

