<%= icon('flag', id: 99, :class => "fa-5x fa-spin") %>
<%= icon('credit-card', :class => "fa-5x fa-spin") %>
<%= icon('database', :class => "fa-5x fa-spin") %>

<span style="font-size:5em;">
<%= icon('flashlight', :class => "icon-flashlight") %>
</span>
