/* Move this stuff to generic? */
/* line 5, /Volumes/Opt/sites/registrar/app/assets/stylesheets/students.scss */

.dataTables_length {
  margin-left: 1rem;
}

/* line 8, /Volumes/Opt/sites/registrar/app/assets/stylesheets/students.scss */
.dataTables_filter {
  margin-right: 1rem;
}

/* line 12, /Volumes/Opt/sites/registrar/app/assets/stylesheets/students.scss */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  top: 0.15em;
}

/* line 20, /Volumes/Opt/sites/registrar/app/assets/stylesheets/students.scss */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  top: 0.15em;
}

/* line 28, /Volumes/Opt/sites/registrar/app/assets/stylesheets/students.scss */
.help-block {
  color: red;
}
