/* 
 * Registration Summary Panel.  This is copied from 
 * the style.css stylesheet on dmind.
 */
/* line 6, /Volumes/Opt/sites/registrar/app/assets/stylesheets/transactions.scss */

.panel-table {
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  margin: 0.25em;
  position: relative;
}

/* line 13, /Volumes/Opt/sites/registrar/app/assets/stylesheets/transactions.scss */
.panel-table div.row {
  margin-bottom: 0.5em;
  width: 100%;
  margin-left: -0.25em;
}

/* line 18, /Volumes/Opt/sites/registrar/app/assets/stylesheets/transactions.scss */
.panel-table div.row:nth-child(odd) {
  background-color: #eff;
}

/* line 21, /Volumes/Opt/sites/registrar/app/assets/stylesheets/transactions.scss */
.panel-table div.row:nth-child(even) {
  background-color: #ffe;
}
