<div class="card top-card">
	<div class="card-header">
	    <h2>New Group</h2>
	</div>
	<div class="card-body" style="padding:0.5rem;">
		<%= render partial: 'form' %>
	</div>
</div>

<% content_for :sidebar do %>
	<div style="margin:0.5rem;">
	<%= link_to 'All Groups', groups_path, class: 'btn btn-md btn-warning' %>
	</div>
<% end %>
