<div class="card top-card">
	<div class="card-header">
	    <h2>New Registration</h2>
	</div>
	<div class="alert alert-info" role="alert" style="margin-bottom:0em;">
	       To create a new registration, the owner (student) must already exist
	       in the database.  The registrant (owner, other student, or group) must
	       also already exist.
	       <p><p>
	       If you are doing a group registration and the owner is a member of that
	       group, select "Group Inclusive".  If you are doing a group registration
	       and the owner is not a member of the group, select "Group Exclusive".
	  	</div>
	<div class="card-body" style="padding:0.5rem;">
		<%= render partial: 'form' %>
	</div>
</div>

<% content_for :sidebar do %>
	<div style="margin:0.5rem;">
	<%= link_to 'All Registrations', registrations_path, class: 'btn btn-md btn-warning' %>
	</div>
<% end %>
