
<%

if current_user 
	msg = "You are signed in as #{current_user.email}."
	if current_user.admin? 
		msg = msg + "  You have admin privileges."
	end
else
	msg = "You are not logged in." 
end

%>

<div class="card" style="margin-top:1em;">
  <div class="card-block">
    <%= msg %>
  </div>
</div>

<% if current_user && current_user.admin? %>
<%= link_to "Create a new user", new_user_registration_path, 
	class: "btn btn-info", role: "button"%>
<% end %>

<% unless current_user %>
<%= link_to "Sign in", user_session_path,
 	class: "btn btn-success", role: "button"%>
<% end %>

<div class="card" style="margin-top:1em;">
	<div class="card-header"><h2>May Lord Krishna Guide You&nbsp;.&nbsp;.&nbsp;.</h2></div>
	 <img class="card-img-top" alt="B.K. Bose, Founder" src="<%= image_url('Lord-Krishna.jpg') %>" 
	 	style="max-width:100%;height:auto;" >
	<div class="card-block">
    	<blockquote class="card-blockquote">
    		Of Man’s First Disobedience, and the Fruit<br>
			Of that Forbidden Tree, whose mortal taste<br>
			Brought Death into the World, and all our woe,<br>
			With loss of Eden, till one greater Man<br> 
			Restore us, and regain the blissful<br> 
			Seat, Sing Heav’nly Muse, that on the secret top<br>
			Of Oreb, or of Sinai, didst inspire<br> 
			That Shepherd, who first taught the chosen<br>
			Seed, In the Beginning how the Heav’ns and Earth<br> 
			Rose out of Chaos: Or if Sion Hill<br> 
			Delight thee more, and Siloa’s Brook that flow’d<br> 
			Fast by the Oracle of God; I thence<br> 
			Invoke thy aid to my advent’rous Song,<br> 
			That with no middle flight intends to soar<br> 
			Above th’ Aonian Mount, while it pursues<br>
			Things unattempted yet in Prose or Rhyme.<br>
      		<p>
      		<footer>John Milton<br><cite title="Paradis Lost">Paradis Lost</cite></footer>
    	</blockquote>
  	</div>
</div>