


<%
	if current_user 
		msg = "You are signed in as #{current_user.email}."
		if current_user.admin? 
			msg = msg + "  You have admin privileges."
		end
	else
		msg = "You are not logged in." 
	end
%>

<div class="card">
	<div class="card-body">
		<div class="alert alert-info" role="alert" style="margin-bottom:0em;">
	       <%= msg %>
	       <br>
	       <span style="font-size:30pt;">
				अथ योगानुशासनम्॥१॥
			</span>
	  	</div>
	</div>
</div>

<% content_for :sidebar do %>
	<div style="padding:0.5rem;">
		<% if current_user %>
		  <% if current_user.admin? %>
				<%= link_to "Create a new user", new_user_registration_path, 
					class: "btn btn-info", role: "button"%>
			<% else %>
				No actions available
			<% end %>
		<% else %>
			<%= link_to "Sign in", user_session_path,
			 	class: "btn btn-success", role: "button" %>
		<% end %>
	</div>
<% end %>

<div class="card" style="margin-top:1em;">
	<div class="card-header"><h2>Lord Kṛṣṇa</h2></div>
	 <img class="card-img-top" alt="B.K. Bose, Founder" src="<%= image_url('Lord-Krishna.jpg') %>" 
	 	style="max-width:100%;height:auto;" >
	<!-- <div class="card-block">
    	<blockquote class="card-blockquote">
    		pithy quotation here
      		<footer>John Milton<br><cite title="Paradise Lost">Paradise Lost</cite></footer>
    	</blockquote>
  	</div>
  	-->
</div>
