/* 
 * Registration Summary Panel.  This is copied from 
 * the style.css stylesheet on dmind.
 */
.panel-table {
    padding:1em;
    box-sizing: border-box;
    width: 100%;
    margin: 0.25em;
    position:relative;
}
.panel-table div.row {
    margin-bottom: 0.5em;
    width: 100%;
    margin-left: -0.25em;
}
.panel-table div.row:nth-child(odd) {
    background-color: #eff;
}
.panel-table div.row:nth-child(even) {
    background-color: #ffe;
}