<td><%= link_to 'Refresh',
    url_for(controller: :api, action: :refresh, id: tid,
    	only_path: true, context: "transaction", format: "js"),
        remote: true, class: 'btn btn-primary btn-sm' %>
</td>