<div class="card top-card">

  <div class="card-header">
    <h2>Transactions</h2>
  </div>

  <div class="card-body">


    <div class="alert alert-info" role="alert">
       You can scroll this table sideways to see all the fields.
    </div>

    <div class="table-responsive">
      <table id="transactions-table" class="table table-striped table-sm table-hover table-bordered">

        <thead>
          <tr>
            <th>ID</th>
            <th>Registration</th>
            <th>Owner</th>
            <th>Registrant</th>
            <th>Type</th>
            <th>Status</th>
            <th>Payer</th>
            <th>Amount</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Refresh</th> 
          </tr>
        </thead>

        <tbody>
        
        </tbody>
      </table>
        
    </div>
  </div>
</div>

<script>

$('#transactions-table').dataTable( {
  processing: true,
  serverSide: true,
  ajax: {
    url: '/transactions/datatables',
    processing: true,
    serverSide: true
  },
  columns: [
    {data: 'payment_transaction_id'},
    {data: 'registration_code'},
    {data: 'owner_name'},
    {data: 'registerable_name'},
    {data: 'payment_type'},
    {data: 'status'},
    {data: 'payer_name'},
    {data: 'amount'},
    {data: 'created_at'},
    {data: 'updated_at'},
    {data: 'refresh_button', orderable: false, searchable: false }
  ],

} );

</script>
